<% if (Array.isArray(opt.banners) && opt.banners.length) { %>
  <% const colSize = Math.ceil(12 / opt.banners.length) %>
  <div class="banners-grid my-3 my-md-4 my-lg-5">
    <div class="container">
      <div class="row">
        <% if (opt.banners.length === 4) { %>
          <div class="col-12 col-lg-6 mb-3 mb-lg-0" id="banner-primario">
            <%- await include('@/sections/inc/banner', { _, opt: opt.banners[0] }) %>
            <%- await include('@/sections/inc/banner', { _, opt: opt.banners[2] }) %>
          </div>
          <div class="col-12 col-lg-6 mb-3 mb-lg-0" id="banner-secundario">
            <%- await include('@/sections/inc/banner', { _, opt: opt.banners[1] }) %>
            <%- await include('@/sections/inc/banner', { _, opt: opt.banners[3] }) %>
          </div>
        <% } else { %>
          <% for (let i = 0; i < opt.banners.length; i++) { %>
            <div class="col-12 col-lg-<%= colSize %> mb-3 mb-lg-0">
              <%- await include('@/sections/inc/banner', { _, opt: opt.banners[i] }) %>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
<% } %>
