<% if (Array.isArray(opt.stamps)) { %>
  <ul class="stamps">
    <li>
      <div id="armored_website">
        <param id="aw_preload" value="true"/>
        <param id="aw_use_cdn" value="true"/>
      </div>
      <script async defer type="text/javascript" src="//cdn.siteblindado.com/aw.js"></script>
    </li>
    <% opt.stamps.forEach(({ src, alt, link }) => { %>
      <% if (link) { %>
        <li>
          <a href="<%= link %>" target="_blank" rel="noopener">
            <img src="<%= src %>" alt="<%= alt %>">
          </a>
        </li>
      <% } else { %>
        <li>
          <img src="<%= src %>" alt="<%= alt %>">
        </li>
      <% } %>
    <% }) %>

    <%- await include('@/helpers/widgets-append', {
      _, opt: {}, field: 'stampsAppend'
    }) %>
  </ul>
<% } %>
